header, main, footer 
    max-width: 1440px
    margin: 0 auto

body 
    background: #282828 !important
    // font-family: 'Merriweather', serif
    // font-family: 'Montserrat', sans-serif
    // font-family: 'Raleway', sans-serif

header
    background: #eff0f2 

.container
    max-width: 1140px !important

.navigation
    position: relative

.navbar
    padding-top: 60px !important
    margin-bottom: 110px

.navbar-nav
    text-align: right

.heading
    font-size: 45px
    font-family: "Montserrat", sans-serif
    color: rgb(80, 80, 80)
    font-weight: bold
    text-transform: uppercase
    line-height: 55px
    text-align: center
    text-shadow: 0px 9px 10px rgba(0, 0, 0, 0.24)
    margin-bottom: 150px

.bg-headihg
    background: #b2f2ee
    padding: 0 15px

.button-wrapper
    padding-bottom: 190px

    .btn-contact 
        border-width: 2px
        border-color: #777879
        border-style: solid
        border-radius: 2px
        opacity: 0.502
        width: 228px
        height: 49px
        z-index: 26
        display: table
        margin: 0 auto

        .btn-text
            font-size: 18px
            font-family: "Montserrat", sans-serif
            color: rgba(0, 0, 0, 0.749)
            text-transform: uppercase
            line-height: 1.556


.wrap-img
    position: absolute
    right: 3%

// Page about us

.about-page
    background-color: rgb(248, 249, 250)
    padding-top: 122px
    padding-bottom: 100px
main
    h2
        font-size: 38px
        font-family: "Montserrat"
        color: rgba(0, 0, 0, 0.902)
        font-weight: bold
        text-transform: uppercase
        line-height: 0.737
        text-align: center

    h4
        font-size: 18px
        font-family: "Merriweather"
        color: rgba(0, 0, 0, 0.62)
        text-transform: uppercase
        line-height: 1.556
        text-align: center
        margin-bottom: 125px

    h3
        font-size: 20px
        font-family: "Merriweather"
        color: rgba(0, 0, 0, 0.749)
        font-weight: bold
        text-transform: uppercase
        line-height: 1.4
        margin-bottom: 28px

    p 
        font-size: 16px
        font-family: "Raleway"
        color: rgba(0, 0, 0, 0.741)
        line-height: 1.75
        margin-bottom: 42px

#carouselExampleCaptions
    width: 470px
    padding-bottom: 40px 

.carousel-indicators li
    width: 10px !important
    height: 10px !important
    border-radius: 3px  
    background-color: rgb(207, 207, 207) !important
    border: none !important

    &:hover
        background-color: rgb(113, 246, 235) !important

.block-text-about 
    width: 480px

// Page works

.works
    padding-top: 127px
    background-color: #fff

.works-wrap
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 16px
    padding-bottom: 125px

.work1 img 
    width: 100%
    height: 100%
    object-fit: cover


// Page services

.service
    padding-top: 125px
    padding-bottom: 122px
    background-color: rgb(249, 251, 251)

// Grid

.service-wrap
    display: grid
    grid-auto-rows: minmax(422px, auto)
    grid-gap: 14px

.mask
    background: rgba(0, 0, 0, 0.6)
    padding: 180px 0 54px 60px

    a 
        font-size: 18px
        font-family: "Raleway"
        color: rgba(249, 251, 251, 0.902)
        text-transform: uppercase
        text-align: left
    
    p 
        font-size: 16px
        font-family: "Raleway"
        color: rgba(255, 255, 255, 0.902)
        line-height: 1.563
        text-align: left
    h3 
        font-size: 20px
        font-family: "Merriweather"
        color: rgba(255, 255, 255, 0.949)
        font-weight: bold
        text-transform: uppercase
        line-height: 1.45
        text-align: left

.service1
    grid-column-start: 1
    grid-column-end: 14  
    background: url(../images/6.png) no-repeat
    background-size: contain
    transition: all 0.3s ease
    position: relative

.service1:before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 0
    height: 422px
    background: #71f5ea
    transition: all 1.5s ease

.service1:hover:before
    width: 100%

.service2
    grid-column-start: 14
    grid-column-end: 23
    background: url(../images/img3.png) no-repeat
    background-size: contain
    transition: all 0.3s ease
    position: relative

.service2:before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 0
    height: 422px
    background: #71f5ea
    transition: all 1.5s ease

.service2:hover:before
    width: 100%

.service3
    grid-column-start: 1
    grid-column-end: 14
    background: url(../images/2.png) no-repeat
    background-size: contain
    transition: all 0.3s ease
    position: relative

.service3:before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 0
    height: 422px
    background: #71f5ea
    transition: all 1.5s ease

.service3:hover:before
    width: 100%

.service4
    grid-column-start: 14
    grid-column-end: 23
    background: url(../images/4.png) no-repeat
    background-size: contain
    transition: all 0.3s ease
    position: relative

.service4:before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 0
    height: 422px
    background: #71f5ea
    transition: all 1.5s ease

.service4:hover:before
    width: 100%

.service5
    grid-column-start: 1
    grid-column-end: 11
    background: url(../images/5.png) no-repeat
    background-size: contain
    transition: all 0.3s ease
    position: relative

.service5:before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 0
    height: 422px
    background: #71f5ea
    transition: all 1.5s ease

.service5:hover:before
    width: 100%

.service6
    grid-column-start: 11
    grid-column-end: 23
    background: url(../images/1.png) no-repeat
    background-size: contain
    transition: all 0.3s ease
    position: relative


.service6:before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 0
    height: 422px
    background: #71f5ea
    transition: all 1.5s ease

.service6:hover:before
    width: 100%

// Page Team

.team
    background: #fff
    padding: 120px 0

.team-photo-wrapper
    display: grid
    grid-auto-rows: minmax(440px, auto)
    grid-gap: 18px
    grid-template-columns: repeat(3, 1fr)

.img-team
    position: relative


.img-team:hover .block-quote
    display: block

.img-team-1
    background: url(../images/Photo-1.png)
    
.img-team-2
    background: url(../images/Photo-2.png)

.img-team-3
    background: url(../images/Photo-3.png)

.img-team-4
    background: url(../images/Photo-4.png)

.img-team-5
    background: url(../images/Photo-5.png)

.img-team-6
    background: url(../images/Photo-1.png)

.block-quote
    display: none
    position: absolute
    left: 16px
    bottom: 13px
    width: 336px
    height: 240px
    background: #70f6eb
    padding-top: 39px
    padding-left: 36px

.quote-text
    h3
        font-size: 20px
        font-family: "Merriweather"
        color: rgba(39, 39, 39, 0.949)
        font-weight: bold
        line-height: 1.2

    span
        color: #757776
        font-family: "Merriweather"
        font-size: 18px
        font-style: oblique
        text-transform: initial
        font-weight: normal
    p 
        font-size: 16px
        font-family: "Raleway"
        color: rgba(0, 0, 0, 0.8)
        line-height: 1.5
    

.quote
    position: absolute
    left: 38px
    top: 137px
    transform: rotate(45deg)
    width: 0
    height: 0
    border-left: 50px solid transparent
    border-right: 50px solid transparent
    border-bottom: 100px solid #70f6eb
    display: none

.img-team:hover .quote
    display: block

.quote-social
    margin-bottom: 40px

    i
        font-size: 15px
        color: rgba(0, 0, 0, 0.702)
        line-height: 1.6
        margin-right: 10px

    .fa-envelope
        font-size: 17px

// Page reviews

.reviews
    background: #f9fbfb
    padding: 120px 0 130px 0

// #carouselExampleControls
//     display: flex
//     justify-content: space-between

.carousel-wrapp
    display: flex !important
    justify-content: space-between

.carousel-block
    background: rgb(234, 235, 237)
    max-width: 667px
    margin: auto 0
    padding: 90px 83px 64px 83px

    h3
        font-size: 20px
        font-family: "Merriweather"
        color: rgba(0, 0, 0, 0.949)
        font-weight: bold
        line-height: 1.4
        text-align: center

    p
        font-size: 16px
        font-family: "Raleway"
        color: rgba(0, 0, 0, 0.702)
        line-height: 1.688
        text-align: center

    i
        color: rgb(242, 218, 59)
    .stars
        text-align: center

.control-block-1
    width: 53px
    height: 53px
    background: rgb(255, 255, 255)
    border-radius: 3px
    box-shadow: 0px 8px 11px 0px rgba(20, 20, 21, 0.05)
    position: relative

    &:hover
        background: #70f6eb

.carousel-control
    width: 53px
    height: 53px

    
.fa-chevron-left, .fa-chevron-right
    font-size: 25px
    color: #b2b2b2
    opacity: 0.302
    width: 14px
    height: 15px
    position: absolute
    top: 50%
    left: 50%
    margin-right: -50%
    transform: translate(-50%, -50%)

    &:hover
        color: #000

.control-block
    display: flex
    width: 100%
    justify-content: end

.control-block-r
    order: 2

.control-block-l
    order: 1
    margin-right: 30px

// Page Partners

.partners
    background: #fff
    padding-top: 108px
    padding-bottom: 104px

// Page Conacts

.contact
    padding-top: 122px
    padding-bottom: 124px
    background: rgb(248, 250, 251) url(../images/christmas_snow_trees-wide.png) no-repeat
    opacity: 0.671

.contact-wrapper
    display: flex
    justify-content: space-between


.contact-form
    max-width: 598px
    background: rgb(2, 22, 35)
    opacity: 0.71
    box-shadow: 0px 0px 30px 0px rgba(21, 21, 21, 0.12)
    padding: 
    
    form
        display: flex
        flex-direction: column
        padding: 25px 33px

    input, textarea
        font-size: 15px
        font-family: "Raleway"
        color: rgba(255, 255, 255, 0.6)
        line-height: 3.4
        border-top: 1px solid rgba(255, 255, 255, 0.6)
        border-left: 0
        border-top: 0
        border-right: 0
    
    textarea, .button, input
        background: rgb(2, 22, 35) 

    textarea
        height: 137px
        margin-bottom: 36px

    button
        margin-bottom: 37px
        background: #6eeee4
        text-align: center
        margin: 0 auto
        padding: 16px 36px
        border-radius: 2px
        border: 0

        a
            font-size: 18px
            font-family: "Montserrat"
            color: rgba(0, 0, 0, 0.702)
            text-transform: uppercase
            line-height: 1.556
            text-decoration: none

.adress
    max-width: 482px
    background: rgb(2, 22, 35)
    opacity: 0.71
    box-shadow: 0px 0px 30px 0px rgba(21, 21, 21, 0.12)

    p
        font-size: 15px
        font-family: "Raleway"
        color: rgba(255, 255, 255, 0.702)
        line-height: 1.6
