doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel="stylesheet" href="css/style.css")
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
    link(href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@400;700&family=Raleway:wght@400;500&display=swap" rel="stylesheet")
    link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")
    title My Diploma

  body
    header
      .container
        .navigation
          nav.navbar.navbar-light
            a.navbar-brand(href='#') 
              img(src="/images/Logo.png", alt="Logo")
            button.navbar-toggler(data-target='#navbarsExample01', type='button', data-toggle='collapse', aria-controls='navbarsExample01', aria-expanded='false', aria-label='Toggle navigation')
              span.navbar-toggler-icon
            #navbarsExample01.collapse.navbar-collapse
              ul.navbar-nav.mr-auto
                li.nav-item.active
                  a.nav-link(href='#')
                    | Home 
                    span.sr-only (current)
                li.nav-item
                  a.nav-link(href='#about') About us
                li.nav-item
                  a.nav-link(href='#works') Featured works
                li.nav-item
                  a.nav-link(href='#services') Our services
                li.nav-item
                  a.nav-link(href='#team') Small team
                li.nav-item
                  a.nav-link(href='#') What they says
                li.nav-item
                  a.nav-link(href='#') Our partners
                li.nav-item
                  a.nav-link(href='#') Contact us
          h1.heading Say Hello to 
            span.bg-headihg SHOPNO!
            br 
            <span class="bg-headihg"> Agency</span> CORPORATE SHOPNO Theme
          .button-wrapper.d-flex.justify-content-between
            button.btn-contact(form="contacts") 
              span.btn-text contact us
            .wrap-img
              .img-glass
                img(src="images/JuiceGlass1.png", alt="Juice Glass")
    main
      section#about.about-page
        .container
          h2 ABOUT US
          h4 Lorem ipsum dolor sit amet event landing template
          .wrap-about-page.d-flex.justify-content-between.flex-wrap
            #carouselExampleCaptions.carousel.slide(data-ride='carousel')
              ol.carousel-indicators
                li.active.rounded-circle(data-target='#carouselExampleCaptions', data-slide-to='0')
                li.rounded-circle(data-target='#carouselExampleCaptions', data-slide-to='1')
                li.rounded-circle(data-target='#carouselExampleCaptions', data-slide-to='2')
              .slide-img
                .carousel-inner
                  .carousel-item.active
                    img.img-carousel(src="images/Group_16.png", alt="Group 16")
                  .carousel-item
                    img.bg-carousel(src="images/Group_16.png", alt="Rectangle_16") 
                  .carousel-item
                    img.img-carousel(src="images/Group_16.png", alt="Group 16")
                  .carousel-item
                    img.img-carousel(src="images/Group_16.png", alt="Group 16")
            .block-text-about
              h3 We Actually Do amazing works
              p A visual approach is an approach to a runway at an airport 
                |conducted under instrument flight rules. The pilot must at all times have either the airport or the preceding aircraft in approach correct sight. conducted under instrument flight rules. The pilot must at all times.             
              p Preceding aircraft in approach correct sight. conducted under instrument flight rules.
              h3 why we are the great?
              p.mb-0 Preceding aircraft in approach correct sight. conducted under instrument flight rules.

      section#works.works
        .container
          h2 featured works
          h4 Lorem ipsum dolor sit amet event landing template
          .works-wrap
            .work1
              img(src="images/banner1.png", alt="banner1")
            .work1
              img(src="images/banner2.png", alt="banner2")
            .work1
              img(src="images/banner3.png", alt="banner3")
            .work1
              img(src="images/banner4.png", alt="banner4")
            .work1
              img(src="images/banner5.png", alt="banner5")
            .work1
              img(src="images/banner6.png", alt="banner6")

      section#services.service
        .container
          h2 our services
          h4 Lorem ipsum dolor sit amet event landing template
          .service-wrap
            figure.service1.mb-0
              .mask
                h3.text-serv Designing is The CooL LOVE FOR.
                p.text-mask Our most popular service is our we know 
                  <br> that sometimes it’s something 
                  <br> you moddle most
                a(href="#") Know More
            figure.service2.mb-0
              .mask
                h3.text-serv cool psd Design
                p.text-mask Our most popular service is our we know 
                  <br> that sometimes it’s something 
                  <br> you moddle most
                a(href="#") Know More
            figure.service3.mb-0
              .mask
                h3.text-serv cool psd Design
                p.text-mask Our most popular service is our we know 
                  <br> that sometimes it’s something 
                  <br> you moddle most
                a(href="#") Know More
            figure.service4.mb-0
              .mask
                h3.text-serv cool psd Design
                p.text-mask Our most popular service is our we know 
                  <br> that sometimes it’s something 
                  <br> you moddle most
                a(href="#") Know More
            figure.service5.mb-0
              .mask
                h3.text-serv cool psd Design
                p.text-mask Our most popular service is our we know 
                  <br> that sometimes it’s something 
                  <br> you moddle most
                a(href="#") Know More
            figure.service6.mb-0
              .mask
                h3.text-serv cool psd Design
                p.text-mask Our most popular service is our we know 
                  <br> that sometimes it’s something 
                  <br> you moddle most
                a(href="#") Know More

      section.team
        .container
          h2 small team
          h4 Lorem ipsum dolor sit amet event landing template
          .team-photo-wrapper
            .img-team.img-team-1
              .quote
              .block-quote
                .quote-text
                  h3 AL RAYHAN <span>/ UI Designer</span>
                  p Lorem Ipsum is not simply is  an 
                    <br> action designer random text  
                    <br> It has roots in a piece
                .quote-social
                  a(href="#")
                    i.fab.fa-facebook-f
                  a(href="#")
                    i.fab.fa-twitter
                  a(href="#")
                    i.fab.fa-dribbble
                  a(href="#")
                    i.far.fa-envelope
            .img-team.img-team-2
              .quote
              .block-quote
                .quote-text
                  h3 AL RAYHAN <span>/ UI Designer</span>
                  p Lorem Ipsum is not simply is  an
                    <br> action designer random text  
                    <br> It has roots in a piece
                .quote-social
                  a(href="#")
                    i.fab.fa-facebook-f
                  a(href="#")
                    i.fab.fa-twitter
                  a(href="#")
                    i.fab.fa-dribbble
                  a(href="#")
                    i.far.fa-envelope
            .img-team.img-team-3
              .quote
              .block-quote
                .quote-text
                  h3 AL RAYHAN <span>/ UI Designer</span>
                  p Lorem Ipsum is not simply is  an
                    <br> action designer random text  
                    <br> It has roots in a piece
                .quote-social
                  a(href="#")
                    i.fab.fa-facebook-f
                  a(href="#")
                    i.fab.fa-twitter
                  a(href="#")
                    i.fab.fa-dribbble
                  a(href="#")
                    i.far.fa-envelope
            .img-team.img-team-4
              .quote
              .block-quote
                .quote-text
                  h3 AL RAYHAN <span>/ UI Designer</span>
                  p Lorem Ipsum is not simply is  an
                    <br> action designer random text  
                    <br> It has roots in a piece
                .quote-social
                  a(href="#")
                    i.fab.fa-facebook-f
                  a(href="#")
                    i.fab.fa-twitter
                  a(href="#")
                    i.fab.fa-dribbble
                  a(href="#")
                    i.far.fa-envelope
            .img-team.img-team-5
              .quote
              .block-quote
                .quote-text
                  h3 AL RAYHAN <span>/ UI Designer</span>
                  p Lorem Ipsum is not simply is  an
                    <br> action designer random text  
                    <br> It has roots in a piece
                .quote-social
                  a(href="#")
                    i.fab.fa-facebook-f
                  a(href="#")
                    i.fab.fa-twitter
                  a(href="#")
                    i.fab.fa-dribbble
                  a(href="#")
                    i.far.fa-envelope
            .img-team.img-team-6
              .quote
              .block-quote
                .quote-text
                  h3 AL RAYHAN <span>/ UI Designer</span>
                  p Lorem Ipsum is not simply is  an
                    <br> action designer random text  
                    <br> It has roots in a piece
                .quote-social
                  a(href="#")
                    i.fab.fa-facebook-f
                  a(href="#")
                    i.fab.fa-twitter
                  a(href="#")
                    i.fab.fa-dribbble
                  a(href="#")
                    i.far.fa-envelope

      section.reviews
        .container
          .reviews-wrapper
            #carouselExampleControls.carousel.slide(data-ride='carousel')
              .carousel-inner
                .carousel-item.active
                  img.d-block(src='images/Photo-1.png', alt='Photo-1')
                .carousel-item
                  img.d-block(src='images/Photo-2.png', alt='Photo-2')
                .carousel-item
                  img.d-block(src='images/Photo-3.png', alt='Photo-3')
                .carousel-item
                  img.d-block(src='images/Photo-4.png', alt='Photo-4')
                .carousel-item
                  img.d-block(src='images/Photo-5.png', alt='Photo-5') 
              .carousel-block
                  h3 AL RAYHAN / UI/UX DESIGNER
                  p Lorem Ipsum is simply dummy text of the printing and you standard dummy know that text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                  .stars
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star
                    i.fas.fa-star    
            a.carousel-control-prev.carousel-control(href='#carouselExampleControls', role='button', data-slide='prev')
              span.carousel-control-prev-icon(aria-hidden='true')
              span.sr-only Previous
            a.carousel-control-next.carousel-control(href='#carouselExampleControls', role='button', data-slide='next')
              span.carousel-control-next-icon(aria-hidden='true')
              span.sr-only Next      










    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous')